.active {
    font-size: 22px
}

.header {
    color: rgb(229, 42, 48);
}

li {
    font-size: 17px
}

.container-fluid {
    background-color: whitesmoke
}

p {
    font-size: 19px;
    font-family: sans-serif;
    width: 75%
}

.sub-title {
    font-size: 24px;
    font-weight: bold;
    margin-left: 7%
}

i {
    margin-left: 15%
}

.image {
    max-width: 50%;
    max-height: 50%
}

.video {
    max-width: 75%;
    max-height: 75%
}