.active {
    font-size: 22px
}

.header {
    color: darkred
}

li {
    font-size: 17px
}

.container-fluid {
    background-color: whitesmoke
}

p {
    font-size: 19px;
    font-family: sans-serif;
    width: 75%
}

.sub-title {
    font-size: 24px;
    font-weight: bold;
    margin-left: 7%
}

i {
    margin-left: 15%
}